{% extends 'base.html.twig' %}

{% block title %}Evennement{% endblock %}

{% block body %}
    <h1>Evennement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evennement.id }}</td>
            </tr>
            <tr>
                <th>Nom_event</th>
                <td>{{ evennement.nomEvent }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ evennement.montant }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evennement.date ? evennement.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ evennement.adresse }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evennement.description }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ evennement.rating }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evennement_index') }}">back to list</a>

    <a href="{{ path('app_evennement_edit', {'id': evennement.id}) }}">edit</a>

    {{ include('evennement/_delete_form.html.twig') }}
{% endblock %}
